# ==============================
# UI
# ==============================
streamlit
st-copy-to-clipboard

# ==============================
# AI
# ==============================
mistralai
faster-whisper

# ==============================
# LangChain
# ==============================
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-mistralai

# ==============================
# Embeddings
# ==============================
sentence-transformers
huggingface-hub

# ==============================
# Vector Store
# ==============================
chromadb

# ==============================
# Audio / Video
# ==============================
yt-dlp
pydub
ffmpeg-python
audioop-lts

# ==============================
# Utilities
# ==============================
python-dotenv
numpy