# ==============================
# UI
# ==============================
streamlit
st-copy-to-clipboard

# ==============================
# AI
# ==============================
mistralai
faster-whisper

# ==============================
# LangChain
# ==============================
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-mistralai

# ==============================
# Embeddings
# ==============================
sentence-transformers
huggingface-hub
torch
torchvision

# ==============================
# Vector Store
# ==============================
chromadb
protobuf==3.20.3

# ==============================
# Audio / Video
# ==============================
yt-dlp
pydub
ffmpeg-python


# ==============================
# Utilities
# ==============================
python-dotenv
numpy<2